
*{
	box-sizing: border-box;
}
body
{
	padding: 0;
	margin: 0;
	background-image: url("owner_assest/img/formbg3.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: top-left;
	position: relative;
	padding-bottom: 200px;
	font-family: 'Libre Baskerville', serif;

	
}
a{
 text-decoration:none; }

.navbar{
	list-style-type:none;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.fixedheader{
	display: flex;
	flex-direction: row;
	background-image: linear-gradient(to right, #3620CD , #7104EB,#B517DE);
	height:90px;
	position: fixed;
	width: 100%;
	margin: 0;
	top: 0;
	box-shadow:  8px 1px 15px blanchedalmond;
}


.nav{
	width: 80%;
}
.logo
{
	width: 20%;
}
.logo img{
	display: block;
	margin: auto;
}



.navbar li a{
	display: block;
	text-decoration: none;
	padding: 3px 10px 3px 10px;
	font-size:17px ;
	color:#f5f5f7 ;
	font-family: 'Libre Baskerville', serif;
	transition-property: background-color;
	transition-duration: 1s;
	transition-timing-function: ease;
    border-radius: 20px;
    letter-spacing: 0.5px;
    text-shadow: 2px 3px 10px black;
}
.nav li a:hover{
	background-color:lightpink;
	border-radius: 20px;
	color: black;
}
.nav li{
	margin: 17px;
}

.shopinfo{
	position: absolute;
//	background-color:rgba(16, 0, 48, 0.90);
 background-image: linear-gradient(to bottom, #3620CD , #7104EB,#B517DE);
	padding: 10px;
	width: 80%;
	top: 135px;
	bottom: 200px;
	left: 10%;
	height: 2000px;
	z-index: -1;
	text-shadow: 2px 3px 10px black;
}
.empty{
	position: absolute;
	height: 200px;
	width: 100%;
	top: 2090px;
}

/*shop info page */

.otherdetails{
	color: white;
	width: 90%;
	margin: auto;
	padding-bottom: 50px;
}
.imgandname{
	 background-image: linear-gradient(to bottom, #1013de , #de10b1);
	color: white;
	width: 90%;
	margin: auto;
}
.otherdetails ul{
	list-style-type: none;
}
.otherdetails ul li{
	padding: 30px;
	 background-image: linear-gradient(to right, #1013de , #de10b1);
	z-index: 1;
	margin: 30px;
	color: #ffffff;
	font-size: 14px;
	box-shadow: 4px 4px 10px #f5e907;
	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: ease-in;
	text-shadow: 2px 3px 10px black;
}

.otherdetails ul li:hover{

}


.otherdetails ul li i{
	font-size: 25px;
	color: #12fc16;
	padding-right: 10px;

}
#btn1{
	display: block;
	margin: auto;
	color: white;
	font-size: 40px;
	width: 120px;
	height: 50px;
	background-color: #132df2;
	box-shadow: 3px 3px 8px #f5e907;
}
.editbutton a{
	color: white;
}
.shopname ul{
	list-style-type: none;
	width: 400px;
	margin: auto;
}
.shopname ul li{
	font-size: 20px;
}
.shopname ul li i{
	font-size: 17px;
}


.shopname{
	padding: 10px;

}
.shopimg{
	margin-top: 25px;
	padding: 10px;
	margin-bottom: 10px;
}
.shopimage{
	display: block;
	margin: auto;
	border-radius: 3px;
	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: ease-in;
	box-shadow: 4px 4px 10px #f5e907;
}
.shopimage:hover{
	//box-shadow: 5px 5px 3px yellow;
	transform: scale(1.15);
}
.imgandname{
	margin-top: 30px;
	padding-top: 30px;
	box-shadow: 4px 4px 10px #f5e907;
}

/*form which will show shop details*/
.editformforshop{
	z-index: 1;
	background-color:rgba(199, 199, 214, 0.95);

	color: black ;
	font-size: 15px;
	position: sticky;
	margin-top: 100px;
	top: 100px;
	left: 30%;
	width: 40%;
	padding: 10px;
	border-radius: 15px;
	box-shadow:  4px 8px 20px black;
	display: none;

}

.editformforshop .formelm{
   padding: 5px;
}
.editformforshop .formelm .labeldiv{
padding: 2px;
}
.inputdiv{
	padding: 2px;

}

.submitformbtn button
{ display: block;
	margin: auto;
	padding: 5px;
	height: 30px;
	width: 60px;
	color: black;
	box-shadow: 2px 3px 10px black;
}
input ,select{
	background-color: rgba(16, 0, 48,0.80);
	color: white;
}



/* contact us page*/
.contactdiv{
  position: absolute;
  margin-top: 120px;
  width: 70%;
  left: 15%;
  z-index: -1;
}
.contactdiv .buisness .heading
{
	margin: auto;
}

.contactdiv ul{
	margin: auto;
	list-style-type: none;
}
.contactdiv ul{
   padding: 30px;
	 background-image: linear-gradient(to bottom, #3620CD , #7104EB,#B517DE);
	z-index: 1;
	margin: 50px;
	color: #ffffff;
	font-size: 14px;
	box-shadow: 10px 7px 15px blanchedalmond;;
	border-radius: 50%;
	transition: transform 1s ease 0s;
}
.contactdiv ul:hover{
  transform: rotate3d(1, 1, 1, 360deg);
}



.contactdiv ul li{
	padding: 10px;
	margin: 20px;
	text-align: center;
	font-size: 18px;
	text-shadow: 2px 3px 10px black;
}
 .contactdiv .heading{
 font-size: 35px;
 color: black;
 margin: auto;
 text-align: center;
 text-shadow: 2px 3px 10px blanchedalmond;
}
.contactdiv li span{
	font-size: 16px;
	font-style: oblique;
}
.contactdiv ul li em{
	font-size: 16px;
	margin: 5px;
}

/*product page */

.products .item ul{
	list-style-type: none;
}
.products {
	position: absolute;
	top: 120px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	//justify-content: space-between;
	width: 80%;
	left: 10%;
	z-index: -1;
	text-shadow: 2px 3px 10px black;
}

.products .item {
	//background-color: rgba(16, 0, 48,0.95) ;
	 background-image: linear-gradient(to bottom, #3620CD , #7104EB,#B517DE);
	font-size: 16px;
	padding: 10px;
	width: 25%;
	margin: 25px;
	box-shadow: 10px 7px 15px black;
	border-radius: 15px;
	color: white;
	text-shadow: 1px 3px 10px black;
}
.products .item li{
  padding:10px;
  text-align: center;
  margin-left: 0px;
  text-shadow: 1px 3px 10px black;
  font-family: 'Libre Baskerville', serif;
}
.products ul{
	margin: 0px;
	padding: 0px;
}
.productimg{
	width: 100%;
}
.item img{
	display: block;
	width: 100%;
	height: 180px;
	border-radius: 15px;
	margin: auto;
}
.item em{
	margin: 3px;
	font-size: 14px;
}

.item .editbutton button{
display: block;
width:65px ;
height:35px ;
background-color: #134fbf;
box-shadow:3px 4px 8px blanchedalmond ;
color: white;
margin: auto;
font-size: 20px;
}

/* signin form */
.signin{
	width: 80%;
	margin: auto;
	margin-top: 60px;
	height: 600px;
}
.signin {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.signin .form1,.form2{
	background-image: linear-gradient(to bottom, #3620CD , #7104EB,#B517DE);
	margin: 100px;
	width: 40%;
	height: 400px;
	text-align: center;
	border-radius: 15%;
	box-shadow: 2px 4px 10px black;
}
.signin .unit{
	padding: 10px;
	margin: 20px;
}
.signin .unit h3{
	font-size: 25px;
	color: white;
	text-shadow: 1px 2px 10px black;
	font-style: oblique;
}
.signin .submitbtn button{
	display: block;
	height:35px ;
	width:65px ;
	color: white;
	background-color:blue ;
	padding: 5px;
	box-shadow: 2px 3px 10px blanchedalmond;
	margin: auto;
	font-size: 15px;
}
.signin label{
	display: inline-block;
	font-size: 20px;
	color: white;
	padding: 10px;
	text-shadow: 1px 2px 10px black;
}
.signin input{
	background-color: #1f2240;
}
.sign{
		background-image: url("assest/img/signinform.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: top-left;
}

/*appointments */

.appointmentsdiv {
background-image: linear-gradient(to bottom, #3620CD , #7104EB,#B517DE) ;
position: absolute;
top: 160px;
width: 80%;
left: 10%;
z-index: -1;

}
.appointmentsdiv  ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}

.appointmentsdiv  h3{
	text-align: center;
	font-size: 40px;
	color: black;
	text-shadow: 2px 3px 10px blanchedalmond;
}
.appointmentsdiv ul li .customer{
//	padding: 10px;
	margin: auto;
	color: white;
	margin-bottom: 10px;
	text-shadow: 2px 3px 10px black;
}
.appointmentsdiv ul li .customer li{
	padding: 5px;
}
.appointmentsdiv ul form label{
	display: inline-block;
	width: 30%;
	margin: 5px;
	color: white;
	text-shadow: 2px 3px 10px black;
}
.appointmentsdiv ul form input{
	display: inline-block;
	width: 25%;
	margin: 5px;
	border-radius: 8px;
	color: white;
}
.appointmentsdiv .customer{
	margin-bottom: 10px;
}
.appointmentsdiv ul{
	margin: 10px;
	text-align: center;
}
.appointmentsdiv button{
	display: block;
	padding: 5px;
	margin: auto;
	color: white;
	text-shadow: blanchedalmond;
	margin-top: 10px;
	margin-bottom: 20px;
	height:35px ;
	width: 60px;
	background-color: blue;
	box-shadow: 2px 3px 10px blanchedalmond;
	border-radius: 5px;
}

.single{
	position: relative;
	background-color: rgba(48,17,92,0.2);
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 40px;
	margin: auto;
	border-radius: 15px;
	box-shadow: 5px 5px 15px 5px black;
	width: 60%;
	font-size: 20px;
	font-style: oblique;
	margin-bottom: 100px;
}

#epty{
	position: absolute;
height: 10px;
top: 1920px;
}
/* product edit form; */
.productedit{
	display: none;
	width:30%;
	top: 150px;
	position: absolute;
}
#btn4{
	color: black;
}
