
/*sign in form */

.signin{
	width: 80%;
	margin: auto;
	margin-top: 100px;
	height: 600px;
	margin-bottom: 200px;
}
      
   a{
	text-decoration:none;
	color:white;}

.signin .form1{
	background-image: linear-gradient(to bottom, #3620CD , #7104EB,#B517DE);
	margin: 100px;
	width: 40%;
	height: 700px;
	text-align: center;
	border-radius: 10%;
	box-shadow: 2px 4px 10px black;
	margin: auto;
}
.signin .unit{
	padding: 5px;
	margin: 10px;
}
.signin .unit h3{
	font-size: 25px;
	color: white;
	text-shadow: 1px 2px 10px black;
	font-style: oblique;
}
.signin .submitbtn button{
	display: block;
	height:35px ;
	width:65px ;
	color: white;
	background-color:blue ;
	padding: 5px;
	box-shadow: 2px 3px 10px blanchedalmond;
	margin: auto;
	font-size: 15px;
}
.signin label{
	display: inline-block;
	font-size: 20px;
	color: white;
	padding: 10px;
	text-shadow: 1px 2px 10px black;
}
.signin input{
	background-color: #1f2240;
	color: white;
}
.sign{
	background-image: url("images/home-bg-img.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: top-left;
}
